.nav{
    position: fixed;
    width: 100%;
}
.container {
    font-family: Arial;
   margin-left: -14px;
    /*justify-content: center;*/
    width: 100%;
  }
  
  .text-block {
    position:absolute;
    bottom: -50px;
    left: 375px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cont {
    width: 40ch;
    animation: typing 6s steps(22), blink .5s ;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0px solid;
    font-family: monospace;
    font-size: 2em;
  }
  .txt-head{
    position:absolute;
    bottom: 500px;
    left: 450px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

 